   <!-- Seccion Galeria de fotos carousel-->
   <section class="container-fluid">
    <div id="carouselExampleDark" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <!--data-bs-interval el tiempo determinado que va pasar de un slider a otra-->
        <div class="carousel-item active" data-bs-interval="5000">
          <img src="./imagen/carusel/especialista1.jpg" class="d-block w-100 ClaseImagenesSlider" alt="especialista1" id="icon_especialista1">
          <div class="carousel-caption d-none d-md-block">
            <p class="h4 alert alert-light negrita">Los Mejores Especialistas a un Click <i class="bi bi-check-circle"></i> </p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img src="./imagen/carusel/especialista2.jpg"  class="d-block w-100 ClaseImagenesSlider" alt="especialista2" id="icon_especialista2">
          <div class="carousel-caption d-none d-md-block">
            <p class="h4 alert alert-light negrita">Llegaremos para solucionar rápido el Problema<i class="bi bi-send-check"></i></p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img src="./imagen/carusel/especialista3.jpg"  class="d-block w-100 ClaseImagenesSlider" alt="especialista3" id="icon_especialista3">
          <div class="carousel-caption d-none d-md-block">
            <p class="h4 alert alert-light negrita">
              <i class="bi bi-house-door"></i><i class="iconos1 bi bi-tools "></i> Home Specialist
              llegan para los Inconvenientes más Urgentes de tu Hogar <i class="bi bi-house-gear-fill"></i>
            </p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon colores" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon colores" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>
  <!--Fin de Sección de Carousel-->