</nav><!--Aqui Empieza el Menú de Navegación-->
<nav class="row container navbar navbar-expand-lg"  style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item mover">
            <a href="/dashboard" class="btn btn-outline-info btn-md imaghover"><img class="mb-4" src="imagen/1156718-e-finance-payment-icon.svg" alt="" width="70" height="50"></a>
          </li>
          <li class="nav-item mover">
            <a href="/create" class="btn btn-outline-primary btn-md imaghover"><i class="bi bi-mortarboard-fill"></i><b>Profesiones</b></a>
          </li>
          <!-- <li class="nav-item mover">
            <a href="/perfil" class="btn btn-outline-primary btn-md imaghover"><i class="bi bi-person-circle"></i><b>Especialistas</b></a>
          </li> -->
          <li class="nav-item mover">
            <a href="/createregion" class="btn btn-outline-primary btn-md imaghover"><i class="bi bi-person-circle"></i><b>Region</b></a>
          </li>
          <li class="nav-item mover">
            <a href="/createcomuna" class="btn btn-outline-primary btn-md imaghover"><i class="bi bi-person-circle"></i><b>Comuna</b></a>
          </li>
          <li class="nav-item mover">
            <a href="/persona" class="btn btn-outline-primary btn-md imaghover"><i class="bi bi-person-circle"></i><b>Persona</b></a>
          </li>
          <li class="nav-item mover">
            <a href="/logout" class="btn btn-danger btn-md imaghover"><i class="bi bi-person-circle"></i><b>Cerrar Sesión</b></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>