<!DOCTYPE html>
<html lang="en">
   <%- include('partials/404') %>
    <body>
        <div class="d-flex align-items-center justify-content-center vh-100 alert alert-warning">
            <div class="text-center">
                <section class="error-container">
                    <span><span>4</span></span>
                    <span>0</span>
                    <span><span>4</span></span>
                </section>
                <p class="fs-3"> <span class="text-danger">Opps!</span> Página no funciona</p>
                <p class="lead">
                    <b>Esta Página no Existe </b><button class="btn btn-danger"><i class="bi bi-4-circle-fill"></i> <i class="bi bi-0-circle-fill"></i> <i class="bi bi-4-circle-fill"></i> <i class="bi bi-cloud-rain-heavy"></i> </button>
                </p>
                <a href="/" class="btn btn-primary">Volver al Inicio</a>
            </div>
        </div>
    </body>
</html>