<footer class="row-container footer_config navbar">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                <!--Logo -->
            <p>
                <b>Equipo Home Specialist © 2023</b>
            </p>
            </div>
            <!--Iconos buscados a través de la librería de boostrap https://icons.getbootstrap.com/-->
            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12 mover">
                <!--Facebook-->
                <a href="#" class="text-reset btn btn-primary btn-sm"><i class="bi bi-facebook"></i></a>
                <!--Twitter-->
                <a href="#" class="text-reset btn btn-info btn-sm"><i class="bi bi-twitter"></i></a>
                <!--Instagram-->
                <a href="#" class="text-reset btn btn-warning btn-sm"><i class="bi bi-instagram"></i></a>
                <!--Pinterest-->
                <a href="#" class="text-reset btn btn-danger btn-sm"><i class="bi bi-pinterest btn-sm"></i> </a>
            </div>
            <!--La fecha y la hora que viene del archivo diahora.js con iconos de boostrap5-->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12  col-12 bi bi-calendar2-week  footerfechareloj mover" id="fecha"></div>
            <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12 bi bi-clock footerfechareloj mover" id="reloj"></div>
</footer>