<section id="somos__id" class="container-fluid">
    <article class="article_somos alert alert-ligth">
        <h1 class="algomas text-left"><i class="bi bi-person-heart"></i> Quiénes Somos  <i class="bi bi-hand-index-thumb"></i></h1>
            <h5 class="text-left">
                <i class="bi bi-plugin"></i><b> Conectamos Especialista con personas a través de una
                plataforma web de esta manera ayudamos a que las familias dispongan de un servicio
                técnico oportuno y a su vez fomentamos el trabajo en la sociedad.</b>
            </h5>
    </article>
</section>